@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-image: url(/bbblurryy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
  font-family: 'Onest Variable', sans-serif;
  margin: 0;
  height: 100vh;
}

.animate-gradient {
  background-size: 300%;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-weight: 200;
}

table {
  font-family: 'Comfortaa Variable', system-ui;
  color: #c0bfb7;
}

@font-face {
  font-family: 'TelmaLight';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TelmaBlack';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Black.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TelmaRegular';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.iconoredes:hover {
  fill: #ffd700;
}

.glow {
  text-shadow: 0 0 1px;
  transition: text-shadow 0.5s ease-in-out;
}

.glow:hover {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 32px #0fa,
    0 0 42px #0fa;
}

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 250px;
}

@media screen and (max-width: 1023px) {
  #header-nav {
    animation: none;
  }
}

@keyframes blur {
  to {
    box-shadow:
      0px 5px 50px -5px rgba(138, 138, 138, 0.1),
      0px 0px 0 1px rgba(35, 35, 35, 0.3);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}

#about {
  max-width: 75ch;
}
