@import "tailwindcss";

/* @config '../../tailwind.config.mjs'; */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  background-image: url(/sanfruHero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 110vh;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  body {
    background-position: top right 37%;
  }
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
  }
}

body {
  --sb-track-color: #f0fdf4;
  --sb-thumb-color: #93ffb7;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.animate-gradient {
  background-size: 300%;
  animation: animatedgradient 6s ease infinite alternate;
}

.scroll-tab {
  --sb-track-color: #f0fdf4;
  --sb-thumb-color: #275e56;
  --sb-size: 10px;
}

.scroll-tab::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size); /* Para la scrollbar horizontal */
}

.scroll-tab::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scroll-tab::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-tab {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animationGlow {
  text-shadow: 0 0 1px;
  transition: text-shadow 0.3s ease-in-out;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.iconoredes:hover {
  ::selection {
    color: #fff; /* Color blanco para el texto */
    background-color: #008000; /* Verde navideño */
    text-shadow: 1px 1px 2px #d8000c; /* Sutil efecto para dar brillo */
  }

  fill: #95cfb0;
}

:root {
  --toastify-color-light: #4a0000c6 !important;
  --toastify-text-color-light: #fff !important;
}

.Toastify__close-button {
  color: #fff !important;
}

.glow {
  text-shadow: 0 0 1px;
  transition: text-shadow 0.3s ease-in-out;
}
.glow:hover {
  text-shadow:
    0 0 3px rgba(147, 255, 183, 0.8),
    0 0 6px rgba(147, 255, 183, 0.7);
}

.glow2 {
  text-shadow:
    0 0 3px rgba(147, 255, 183, 0.8),
    0 0 6px rgba(147, 255, 183, 0.7);
}

#header-nav {
  background-color: orange;
  z-index: 999;
}

@media screen and (max-width: 1023px) {
  #header-nav {
    animation: none;
  }
}

@keyframes blur {
  to {
    box-shadow:
      0px 5px 50px -5px rgba(138, 138, 138, 0.1),
      0px 0px 0 1px rgba(35, 35, 35, 0.3);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}

#pp {
  max-width: 75ch;
}

.animationGlow {
  text-shadow: 0 0 1px;
  transition: text-shadow 0.3s ease-in-out;
  animation: animateGlow 1s linear infinite;
}

@keyframes animateGlow {
  0% {
    text-shadow:
      0 0 2px rgba(255, 0, 0, 0.3),
      0 0 4px rgba(255, 0, 0, 0.2),
      0 0 8px rgba(255, 0, 0, 0.1),
      0 0 16px rgba(255, 0, 0, 0.05);
  }
  50% {
    text-shadow:
      0 0 4px rgba(255, 0, 0, 0.3),
      0 0 8px rgba(255, 0, 0, 0.2),
      0 0 16px rgba(255, 0, 0, 0.1),
      0 0 32px rgba(255, 0, 0, 0.05);
  }
  100% {
    text-shadow:
      0 0 2px rgba(255, 0, 0, 0.3),
      0 0 4px rgba(255, 0, 0, 0.2),
      0 0 8px rgba(255, 0, 0, 0.1),
      0 0 16px rgba(255, 0, 0, 0.05);
  }
}

.map-container {
  height: 400px; /* Ajusta la altura según tus necesidades */
  width: 100%;
}

.leaflet-touch .leaflet-bar a {
  background-color: #93edb2a3;
  backdrop-filter: blur(10px);
}

.leaflet-touch .leaflet-bar a:hover {
  background-color: #93edb2a3;
  backdrop-filter: blur(10px);
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-bar {
  display: flex;
  gap: 0.5rem;
}

.scroll-hide {
  scrollbar-width: thin;
  scrollbar-color: #93ffb7 #dcfce7;
}

::selection {
  color: #000;
  background-color: #93ffb7;
}

.section1bg {
  background-image: url(/sanfru.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 20% center;
}

.section4bg {
  background-image: url(/pep2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section2bg {
  background-image: url(/sanfru2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 20% center;
}

.section3bg {
  background-image: url(/jaime.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section5bg {
  background-image: url(/s.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 1023px) {
  .section1bg {
    background-position: center right 38%;
  }
}
@media screen and (max-width: 1023px) {
  .section2bg {
    background-position: center right 35%;
  }
}
@media screen and (max-width: 1023px) {
  .section3bg {
    background-position: center left;
  }
}
@media screen and (max-width: 1023px) {
  .section4bg {
    background-position: center right 70%;
  }
}
