@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 450" opacity="1"><defs><filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="130" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter></defs><g filter="url(%23bbblurry-filter)"><ellipse rx="277.5" ry="150" cx="554.7493175159801" cy="16.81421175870028" fill="hsla(212, 100%, 19%, 1.00)"></ellipse><ellipse rx="277.5" ry="150" cx="244.17045177112925" cy="9.458125721324564" fill="hsla(272, 100%, 26%, 1.00)"></ellipse></g></svg>');
  background-repeat: no-repeat;
  background-size: cover; /* Asegura que el fondo cubra toda la página, ajustándose al tamaño de la ventana */
  background-position: center center;
  background-attachment: fixed;
  background-position: top center;
  font-family: 'Onest Variable', sans-serif;
  scroll-behavior: smooth;
}


body {
  font-family: 'Onest Variable', sans-serif;
}
p {
  font-family: 'Onest Variable', sans-serif;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-weight: 200;
}

table {
  font-family: 'Comfortaa Variable', system-ui;
  color: #c0bfb7;
}

#bento {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 1422 800"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="oooscillate-grad"><stop stop-color="hsl(230, 55%, 50%)" stop-opacity="1" offset="0%"></stop><stop stop-color="hsl(230, 55%, 70%)" stop-opacity="1" offset="100%"></stop></linearGradient></defs><g stroke-width="1.5" stroke="url(%23oooscillate-grad)" fill="none" stroke-linecap="round"><path d="M 0 845 Q 355.5 400 711 400 Q 1066.5 400 1422 845" stroke-dasharray="92 136" opacity="0.75"></path><path d="M 0 832 Q 355.5 400 711 400 Q 1066.5 400 1422 832" stroke-dasharray="129 71" opacity="0.14"></path><path d="M 0 819 Q 355.5 400 711 400 Q 1066.5 400 1422 819" stroke-dasharray="48 96" opacity="0.86"></path><path d="M 0 806 Q 355.5 400 711 400 Q 1066.5 400 1422 806" stroke-dasharray="16 90" opacity="0.87"></path><path d="M 0 793 Q 355.5 400 711 400 Q 1066.5 400 1422 793" stroke-dasharray="106 129" opacity="0.30"></path><path d="M 0 780 Q 355.5 400 711 400 Q 1066.5 400 1422 780" stroke-dasharray="36 146" opacity="0.99"></path><path d="M 0 767 Q 355.5 400 711 400 Q 1066.5 400 1422 767" stroke-dasharray="79 33" opacity="0.27"></path><path d="M 0 754 Q 355.5 400 711 400 Q 1066.5 400 1422 754" stroke-dasharray="4 80" opacity="0.19"></path><path d="M 0 741 Q 355.5 400 711 400 Q 1066.5 400 1422 741" stroke-dasharray="1 121" opacity="0.71"></path><path d="M 0 728 Q 355.5 400 711 400 Q 1066.5 400 1422 728" stroke-dasharray="119 32" opacity="0.96"></path><path d="M 0 715 Q 355.5 400 711 400 Q 1066.5 400 1422 715" stroke-dasharray="7 88" opacity="0.45"></path><path d="M 0 702 Q 355.5 400 711 400 Q 1066.5 400 1422 702" stroke-dasharray="63 118" opacity="0.69"></path><path d="M 0 689 Q 355.5 400 711 400 Q 1066.5 400 1422 689" stroke-dasharray="40 106" opacity="0.49"></path><path d="M 0 676 Q 355.5 400 711 400 Q 1066.5 400 1422 676" stroke-dasharray="55 1" opacity="0.34"></path><path d="M 0 663 Q 355.5 400 711 400 Q 1066.5 400 1422 663" stroke-dasharray="124 71" opacity="0.17"></path><path d="M 0 650 Q 355.5 400 711 400 Q 1066.5 400 1422 650" stroke-dasharray="1 98" opacity="0.14"></path><path d="M 0 637 Q 355.5 400 711 400 Q 1066.5 400 1422 637" stroke-dasharray="123 65" opacity="0.60"></path><path d="M 0 624 Q 355.5 400 711 400 Q 1066.5 400 1422 624" stroke-dasharray="141 5" opacity="0.08"></path><path d="M 0 611 Q 355.5 400 711 400 Q 1066.5 400 1422 611" stroke-dasharray="95 99" opacity="0.86"></path><path d="M 0 598 Q 355.5 400 711 400 Q 1066.5 400 1422 598" stroke-dasharray="127 0" opacity="0.99"></path><path d="M 0 585 Q 355.5 400 711 400 Q 1066.5 400 1422 585" stroke-dasharray="18 110" opacity="0.73"></path><path d="M 0 572 Q 355.5 400 711 400 Q 1066.5 400 1422 572" stroke-dasharray="121 89" opacity="0.40"></path><path d="M 0 559 Q 355.5 400 711 400 Q 1066.5 400 1422 559" stroke-dasharray="142 100" opacity="0.52"></path><path d="M 0 546 Q 355.5 400 711 400 Q 1066.5 400 1422 546" stroke-dasharray="110 37" opacity="0.24"></path><path d="M 0 533 Q 355.5 400 711 400 Q 1066.5 400 1422 533" stroke-dasharray="37 61" opacity="0.32"></path><path d="M 0 520 Q 355.5 400 711 400 Q 1066.5 400 1422 520" stroke-dasharray="62 124" opacity="0.26"></path><path d="M 0 507 Q 355.5 400 711 400 Q 1066.5 400 1422 507" stroke-dasharray="86 36" opacity="0.69"></path><path d="M 0 494 Q 355.5 400 711 400 Q 1066.5 400 1422 494" stroke-dasharray="96 83" opacity="0.34"></path><path d="M 0 481 Q 355.5 400 711 400 Q 1066.5 400 1422 481" stroke-dasharray="125 70" opacity="0.84"></path><path d="M 0 468 Q 355.5 400 711 400 Q 1066.5 400 1422 468" stroke-dasharray="48 27" opacity="0.92"></path><path d="M 0 455 Q 355.5 400 711 400 Q 1066.5 400 1422 455" stroke-dasharray="116 53" opacity="0.30"></path><path d="M 0 442 Q 355.5 400 711 400 Q 1066.5 400 1422 442" stroke-dasharray="118 46" opacity="0.37"></path><path d="M 0 429 Q 355.5 400 711 400 Q 1066.5 400 1422 429" stroke-dasharray="72 73" opacity="0.59"></path><path d="M 0 416 Q 355.5 400 711 400 Q 1066.5 400 1422 416" stroke-dasharray="76 72" opacity="0.68"></path><path d="M 0 403 Q 355.5 400 711 400 Q 1066.5 400 1422 403" stroke-dasharray="62 41" opacity="0.47"></path><path d="M 0 390 Q 355.5 400 711 400 Q 1066.5 400 1422 390" stroke-dasharray="14 31" opacity="0.19"></path><path d="M 0 377 Q 355.5 400 711 400 Q 1066.5 400 1422 377" stroke-dasharray="121 95" opacity="0.56"></path><path d="M 0 364 Q 355.5 400 711 400 Q 1066.5 400 1422 364" stroke-dasharray="69 17" opacity="0.31"></path><path d="M 0 351 Q 355.5 400 711 400 Q 1066.5 400 1422 351" stroke-dasharray="12 136" opacity="0.15"></path><path d="M 0 338 Q 355.5 400 711 400 Q 1066.5 400 1422 338" stroke-dasharray="70 38" opacity="0.39"></path><path d="M 0 325 Q 355.5 400 711 400 Q 1066.5 400 1422 325" stroke-dasharray="108 133" opacity="0.45"></path><path d="M 0 312 Q 355.5 400 711 400 Q 1066.5 400 1422 312" stroke-dasharray="86 116" opacity="0.13"></path><path d="M 0 299 Q 355.5 400 711 400 Q 1066.5 400 1422 299" stroke-dasharray="22 38" opacity="0.22"></path><path d="M 0 286 Q 355.5 400 711 400 Q 1066.5 400 1422 286" stroke-dasharray="61 78" opacity="0.29"></path><path d="M 0 273 Q 355.5 400 711 400 Q 1066.5 400 1422 273" stroke-dasharray="80 98" opacity="0.46"></path><path d="M 0 260 Q 355.5 400 711 400 Q 1066.5 400 1422 260" stroke-dasharray="147 0" opacity="0.41"></path><path d="M 0 247 Q 355.5 400 711 400 Q 1066.5 400 1422 247" stroke-dasharray="59 26" opacity="0.60"></path><path d="M 0 234 Q 355.5 400 711 400 Q 1066.5 400 1422 234" stroke-dasharray="104 8" opacity="0.93"></path><path d="M 0 221 Q 355.5 400 711 400 Q 1066.5 400 1422 221" stroke-dasharray="68 9" opacity="0.94"></path><path d="M 0 208 Q 355.5 400 711 400 Q 1066.5 400 1422 208" stroke-dasharray="114 65" opacity="0.32"></path><path d="M 0 195 Q 355.5 400 711 400 Q 1066.5 400 1422 195" stroke-dasharray="107 112" opacity="0.64"></path><path d="M 0 182 Q 355.5 400 711 400 Q 1066.5 400 1422 182" stroke-dasharray="54 138" opacity="0.23"></path><path d="M 0 169 Q 355.5 400 711 400 Q 1066.5 400 1422 169" stroke-dasharray="111 64" opacity="0.84"></path><path d="M 0 156 Q 355.5 400 711 400 Q 1066.5 400 1422 156" stroke-dasharray="133 149" opacity="0.44"></path><path d="M 0 143 Q 355.5 400 711 400 Q 1066.5 400 1422 143" stroke-dasharray="145 34" opacity="0.63"></path><path d="M 0 130 Q 355.5 400 711 400 Q 1066.5 400 1422 130" stroke-dasharray="134 128" opacity="0.42"></path><path d="M 0 117 Q 355.5 400 711 400 Q 1066.5 400 1422 117" stroke-dasharray="73 123" opacity="0.39"></path><path d="M 0 104 Q 355.5 400 711 400 Q 1066.5 400 1422 104" stroke-dasharray="135 147" opacity="0.46"></path><path d="M 0 91 Q 355.5 400 711 400 Q 1066.5 400 1422 91" stroke-dasharray="5 138" opacity="0.36"></path><path d="M 0 78 Q 355.5 400 711 400 Q 1066.5 400 1422 78" stroke-dasharray="90 112" opacity="1.00"></path><path d="M 0 65 Q 355.5 400 711 400 Q 1066.5 400 1422 65" stroke-dasharray="76 65" opacity="0.18"></path><path d="M 0 52 Q 355.5 400 711 400 Q 1066.5 400 1422 52" stroke-dasharray="121 39" opacity="0.69"></path><path d="M 0 39 Q 355.5 400 711 400 Q 1066.5 400 1422 39" stroke-dasharray="49 53" opacity="0.13"></path><path d="M 0 26 Q 355.5 400 711 400 Q 1066.5 400 1422 26" stroke-dasharray="142 100" opacity="0.86"></path></g></svg>'),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(7, 9, 34, 1) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'TelmaLight';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TelmaBlack';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Black.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TelmaRegular';
  src: url('/Fonts/Telma_Complete/Fonts/WEB/fonts/Telma-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.iconoredes:hover {
  fill: #ffd700;
}

.glow {
  text-shadow: 0 0 1px;
  transition: text-shadow 0.5s ease-in-out;
}

.glow:hover {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 32px #0fa,
    0 0 42px #0fa;
}
.glow.active-glow {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 32px #0fa,
    0 0 42px #0fa;
}
